.gallary__section-content {
  width: 1140px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.gallary__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.gallary__title {
  font-weight: 500;
  font-size: 40px;
}
.gallary__button {
  font-size: 27px;
  height: 90px;
  padding: 0;
}
.gallery__cities {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 290px;
}

.gallery__cities-card {
  width: 265px;
  height: 300px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, width 0.5s, height 0.5s;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.gallery__cities-main-card {
  width: 300px;
  height: 330px;
  z-index: 3;
}

.gallery__cities-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cities__card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 27px;
  color: #555454;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;
}

.gallery__cities-card:nth-child(1) {
  width: 235px;
  height: 263px;
  transform: translateX(450px);
  z-index: 1;
}

.gallery__cities-card:nth-child(2) {
  /* width: 265px;
  height: 300px; */
  transform: translateX(245px);
  z-index: 2;
}

.gallery__cities-card:nth-child(3) {
  /* width: 300px;
  height: 330px; */
  transform: translateX(0px);
  z-index: 3;
}

.gallery__cities-card:nth-child(4) {
  /* width: 265px;
  height: 300px; */
  transform: translateX(-245px);
  z-index: 2;
}

.gallery__cities-card:nth-child(5) {
  width: 235px;
  height: 263px;
  transform: translateX(-450px);
  z-index: 1;
}

.gallery__button-contaier {
  width: 550px;
}

@media (width >= 1729px) {
  .gallary__section-content {
    gap: 20px;
    max-height: 100vh;
    
  }
  .gallery__cities{
    height: 280px;
  }
  .gallary__wrapp{
    transform: scale(0.9);
    margin-top: 90px;
  }
}

@media (768px <= width <= 1728px) {
  /* Стили для MacBook Pro с разрешением 1728x1117 */
}

@media (width <= 767px) {
}
