.section__hero {
  width: 1120px;
  display: flex;
  flex-direction: column;
  /* max-width: 1440px; */
  gap: 45px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  width: 1030px;
}
.hero__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 25px 0 23px 23px;
  font-weight: 700;
}

.hero__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px; /* Ширина полоски */
  background-color: #dabd91; /* Цвет полоски */
  box-shadow: 0px 1px 6px #dabd91;
}

.hero__heading {
  font-weight: 700;
  font-size: 54px;
  line-height: 119%;
  letter-spacing: 0.1rem;
  /* word-spacing: 0.200rem; */
}

.hero__description {
  line-height: 119%;
  font-weight: 700;
  font-size: 33px;
  width: 90%;
  /* word-spacing: 0.3rem; */
  letter-spacing: 0.07rem;
}
.hero__button-container {
  display: flex;
  width: 70%;
  padding-top: 17px;
  padding-left: 20px;
}
.hero__link {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 515px;
}
.hero__link-description {
  font-size: 20px;
  text-align: start;
  font-style: italic;
  line-height: 125%;
  letter-spacing: 0.07rem;
}

.hero__button {
  width: 720px;
  height: 110px;
}

@media (width >= 1729px) {
  .hero__content{
    margin-left: 50px;
  }
  .section__hero {
    width: 100%;
    gap: 40px;
  }
  .hero__heading {
    font-size: 40px;
    width: 800px;
  }
  .hero__description {
    font-size: 27px;
  }
  .hero__title {
    gap: 15px;
    padding: 30px 0 23px 23px;
  }
  .hero__button {
    width: 570px;
    height: 100px;
    padding: 17px 13px;
  }
}

@media ( 1366px >= width ) {
  .section__hero{
    margin-top: 50px;
    width: 70%;
    gap: 25px;
  }
  .hero__heading{
      font-size: 35px;
  }
  .hero__description{
    font-size: 20px;
  }
  .hero__content{
      width: 75%;
  }
  .hero__button-container{
    width: 100%;
  }
  .hero__button{
    width: 50%;
    height: 70px;
    font-size: 15px;
    padding: 10px;
  }
  .hero__link{
    gap: 10px;
    width: 300px;
  }
  .hero__link-description{
    font-size: 13px ;
    /* width: 75%; */
  }
  .link-list{

    justify-content: start;
    gap: 15px;
  }
  .item__circle{
    width: 50px;
    height: 50px;
  }
}

@media (768px >= width) {
    .section__hero{
    margin-top: 60px;
    width: 95%;
    gap: 25px;
  }
  .hero__heading{
      font-size: 35px;
  }
  .hero__description{
    font-size: 1em;
  }
  .hero__content{
      width: 75%;
  }
  .hero__button-container{
    width: 100%;
  }
  .hero__button{
    width: 50%;
    height: 70px;
    font-size: 15px;
    padding: 10px;
  }
  .hero__link{
    gap: 10px;
    width: 300px;
  }
  .hero__link-description{
    font-size: 13px ;
    /* width: 75%; */
  }
  .link-list{

    justify-content: start;
    gap: 15px;
  }
  .item__circle{
    width: 50px;
    height: 50px;
  }
}
