.services__heading {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  /* word-spacing: 0.3rem; */
  letter-spacing: 0.07rem;
}
.services__description {
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03rem;
}

.section__services {
  /* padding-top: 5px; */
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 77px;
  width: 1060px;
}

.services__content {
  margin-top: 0px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 47px;
  /* text-align: end; */
}

.services__heading-pagraph {
  text-align: end;
}
.services__button-container {
  display: flex;
  flex-direction: column;
  width: 609px;
  gap: 12px;
}
.button__container-description {
  font-size: 20px;
}

@media (width >= 1729px) {
  .section__services {
    width: 100%;
  }
}

@media (width <=1366px) {
  .section__services {
    width: 70%;
    gap: 25px;
  }
  .services__content {
    gap: 27px;
  }
  .services__heading {
    font-size: 35px;
  }
  .services__description {
    font-size: 25px;
  }
  .services__button-container {
    align-items: end;
  }
  .services__button {
    font-size: 15px;
    width: 70%;
    word-spacing: 0.1rem;
    
  }
  .button__container-description {
    width: 90%;
    font-size: 18px;
    
  }
}

@media (width <= 768px) {
    .section__services {
    width: 95%;
    gap: 25px;
  }
  .services__content {
    width: 100%;
    gap: 27px;
  }
  .services__heading {
    font-size: 35px;
  }
  .services__description {
    font-size: 25px;
  }
  .services__button-container {
    align-items: end;
  }
  .services__button {
    font-size: 15px;
    width: 70%;
    word-spacing: 0.1rem;
    
  }
  .button__container-description {
    width: 90%;
    font-size: 18px;
    
  }
}
