/* @import url("./globals.css");
@import url("./fonts.css");
@import url("./header.css");
@import url("./heroSection.css");
@import url("./servicesSection.css");
@import url("./tourSection.css");
@import url("./gallary.css");
@import url("./constructionPlanning.css");
@import url("./videoInterview.css");
@import url("./turnKeyService.css");
@import url("./teamSection.css");
@import url("./managerSection.css");
@import url("./legalSupportSection.css");
@import url("./timer.css");
@import url("./homeOffer.css");
@import url("./footer.css");
@import url("./variables.css"); */

.content {
  /* margin-top: 150px; */
  /* align-items: center; */
  /* margin: 150px 0 0 270px; */
  /* width: 1450px; */
  display: flex;
  flex-direction: column;

  width: 100%;
  /* gap: 350px; */
}

.page__section {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
  z-index: 2;
}
.page__section div {
  max-width: 1440px;
}

.page__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.page__section::after {
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.text__light {
  color: #dabd91;
}
.text__title {
  text-transform: uppercase;
}
.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background-color: #ffffff;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #3b3b3b 0%, #ffffff 80%);
}
.item__circle:hover {
  box-shadow: 0 0 15px #f1f1f1;
}
.item__circle img {
  width: 70%;
  height: 70%;
}
.item__icon {
  opacity: 1;
}
.button {
  color: #ffffff;
  border-radius: 20px;
  padding: 17px 30px;
  font-size: 24px;
  font-weight: 600;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.button__light {
  background-color: #b49b7d;
  box-shadow: 0 0 15px #d4a762;
}
.button__light:hover {
  box-shadow: 0 0 25px #d4a762;
}
.button__dark,
.button__brown {
  box-shadow: 0 0 15px #f1f1f1;
}
.button__dark {
  background-color: #273b46;
}
.button__dark:hover,
.button__brown:hover {
  box-shadow: 0 0 25px #f1f1f1;
}
.button__brown {
  background-color: #524f4c;
}

.description-underline {
  text-decoration: underline;
  text-underline-offset: 8px;
}
/* picture,source {
  display: block;
  width: 100%;
  height: 100%;
} */

@media (width >= 1729px) {
  /* Стили для стандартного экрана 1920x1080 */
  .content {

  }
  .page__section {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .wrpa {
    transform: scale(0.8);
  }
}

@media (768px <= width <= 1728px) {

}

@media (1366px <= width) {
  .content{
    
  }

}




