.legal-support__timer-container {
  justify-self: end;
  align-self: end;
  display: flex;

  margin-bottom: 37px;
  /* background-color: #f0f0f0; */
}
.timer {
  min-height: 120px;
  display: flex;
  gap: 30px;
}
.timer-unit {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
}
.timer-unit::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 50px #dabd91 ;
}

.timer-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#DABD91 var(--progress), #333 0);
  transition: --progress 0.2s linear;
}
.timer-inner {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.timer-title {
  font-size: 22px;
}
.timer-value {
  font-size: 36px;
  font-weight: bold;
  font-size: 40px;
}

@media (width >= 1729px) {
  .legal-support__timer-container{

  }
}

@media (768px <= width <= 1728px) {
  /* Стили для MacBook Pro с разрешением 1728x1117 */
}

@media (width <= 767px) {

}