.tour__section {
  display: flex;
  gap: 80px;
  width: 1270px;
  /* padding-top: 30px; */
}
.tour__content {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.tour__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tour__title {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 51px;
  gap: 60px;
}
.tour__heading {
  font-size: 40px;
  letter-spacing: 0.04rem;
  line-height: 120%;
}
.tour__description {
  font-size: 32px;
  letter-spacing: 0.02rem;
  line-height: 119%;
  padding-left: 33px;
}

.tour__button-container {
  padding-left: 175px;
  width: 46em;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.tour__button-description {
  font-size: 20px;
  width: 28rem;
  text-align: end;
  align-self: end;
  line-height: 118%;
}
.tour__button {
  height: 6.5rem;
  text-align: center;
  padding: 17px 40px;
}

.card__founder {
  width: 312px;
  height: 457px;
  border-radius: 35px;
  background-image: url("../images/founder_cardImage.jpg");
  background-size: 120%;
  background-position: right;
  background-repeat: no-repeat;
}

.card__description {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  line-height: 120%;
  letter-spacing: 0.06rem;
}

@media (width >= 1729px) {
  .tour__section {
    width: 100%;
  }
}

@media (width <= 1366px) {
  .tour__section {
    width: 70%;
    gap: 40px;
  }
  .tour__title {
    padding: 0;
    gap: 30px;
  }
  .tour__heading {
    font-size: 35px;
  }
  .tour__description {
    font-size: 25px;
  }

  .card__founder {
    height: 350px;
    width: 250px;
    border-radius: 25px;
  }
  .card__description {
    font-size: 15px;
  }
  .tour__button-container {
    padding: 0;
    width: 65%;
    align-self: end;
    align-items: end;
    gap: 12px;
  }
  .tour__button {
    font-size: 15px;
    height: 75px;
    width: 75%;
  }
  .tour__button-description {
    font-size: 15px;
  }
}

@media (width <= 768px) {
    .tour__section {
    width: 95%;
    gap: 40px;
  }
  .tour__title {
    padding: 0;
    gap: 30px;
  }
  .tour__heading {
    font-size: 35px;
  }
  .tour__description {
    font-size: 25px;
  }

  .card__founder {
    height: 350px;
    width: 250px;
    border-radius: 25px;
  }
  .card__description {
    font-size: 15px;
  }
  .tour__button-container {
    padding: 0;
    width: 65%;
    align-self: end;
    align-items: end;
    gap: 12px;
  }
  .tour__button {
    font-size: 15px;
    height: 75px;
    width: 75%;
    padding: 5px 17px 0px 17px;
  }
  .tour__button-description {
    font-size: 15px;
  } 
}
