.turnkey-service__wrapper {
  display: flex;
}

.turnkey-service__content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-left: 20px;
}
.turnkey-service__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 667px;
  position: relative;
  z-index: 2;
}
.turnkey-service__title-wrapper::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  right: -50px;
  transform: rotate(32.45deg) scale(1.11);
  bottom: -105px;
  background-image: url("/src/images/keys.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 23px;
  z-index: -1;
}
.turnkey-service__title {
  font-weight: 500;
  font-size: 40px;
  word-spacing: 0.2rem;
  line-height: 117%;
  letter-spacing: 0.004rem;
}
.turnkey-service__description {
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  background-color: #a6a4a44d;
  filter: blur(16%);
  padding: 12px 5px;
  width: 74%;
  line-height: 117%;
}
.turnkey-service__button {
  font-size: 20px;
  width: 546px;
  letter-spacing: 0.045rem;
}
.turnkey-service__img {
  position: relative;
  overflow: visible;
  align-self: center;
  z-index: 2;
}

.turnkey-service__img img {
  max-width: 585px;
  max-height: 382px;
  border-radius: 23px;
  object-fit: cover;
}

.turnkey-service__img::after {
  content: "";
  position: absolute;
  background-image: url("../images/spiral_v2.svg");
  background-size: contain;
  transform: rotate(-15deg);
  top: 20px;
  left: -93px;
  width: 200px;
  height: 200px;
  z-index: -1;
}

.turnkey-service__img::before{
  content: "";
  position: absolute;
  background-image: url("../images/spiral_v2.svg");
  background-size: contain;
  transform: rotate(-15deg);
  top: -120px;
  right: -93px;
  width: 200px;
  height: 200px;
  z-index: 2;
}

@media (width >= 1729px) {
  .turnkey-service__wrapper{
    width: 100%;
  }
  .turnkey-service__content{
    padding: 0;
  }
}

@media (768px <= width <= 1728px) {
  /* Стили для MacBook Pro с разрешением 1728x1117 */
}

@media (width <= 767px) {

}