.videoInterview__section {
  display: flex;
  flex-direction: column;
  width: 1220px;
  gap: 75px;
}
.videoInterview__title-container {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-self: flex-end;
  gap: 25px;
  text-align: end;
}
.videoInterview__title {
  font-size: 40px;
  font-weight: 500;
  word-spacing: 0.2rem;
  line-height: 110%;
  /* width: 900px; */
  /* margin-left: 500px; */
}
.videoInterview__description {
  font-size: 30px;
  font-weight: 400;
  line-height: 110%;
  word-spacing: 0.01rem;
}
.video__gallary-wrap {
  display: flex;
  flex-direction: column;
  gap:20px;
  /* Можно добавить отступы или другие стили по необходимости */
}
.video__gallery-button-contaier{
  align-self: center;
}
.video__gallary-button{
  align-self: center;
  width: 440px;
  padding: 17px 50px;
  font-size: 27px;
  font-weight: 600;
  /* padding: ; */
}
.video__gallary {
  display: flex;
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */
  height: 260px;
  gap: 5px;
}

.video__gallary-card {
  width: 377px;
  height: 210px;
  overflow: hidden; /* Скрываем части изображения, выходящие за пределы контейнера */
}

.video__gallary-main-card {
  width: 500px;
  height: 259px;
}

.video__gallary-card img {
  width: 100%; /* Растягиваем изображение на всю ширину контейнера */
  height: 100%; /* Растягиваем изображение на всю высоту контейнера */
  object-fit: cover; /* Масштабируем изображение, чтобы оно покрывало всю область контейнера, сохраняя пропорции */
  border-radius: 11px;
}

.video__gallary-card:nth-child(1) {
  transform: translateX(0px);
  z-index: 1;
}

.video__gallary-card:nth-child(2) {
  transform: translateX(0px);
  z-index: 3;
}

.video__gallary-card:nth-child(3) {
  transform: translateX(0px);
  z-index: 1;
}
