.legal-support__content {
  display: flex;
  /* width: 100%; */
  /* height: 540px; */
}
.legal-support {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 791px;
  margin-top: 9px;
}
.legal-support__title {
  font-size: 38px;

  line-height: 117%;
  word-spacing: 0.2rem;
  letter-spacing: 0.03rem;
}

.legal-support__list {
  display: flex;
  flex-direction: column;
  list-style: inside;
  width: 700px;
  gap: 10px;
  /* margin-left: 32px; */
}
.legal-support__list-item {
  font-size: 32px;
  font-weight: 400;
  line-height: 117%;
  position: relative;
  padding-left: 31px; /* Добавляем отступ для маркера */
}

.legal-support__list-item::before {
  content: "•";
  position: absolute; /* Позиционируем маркер абсолютно */
  left: 0; /* Выравниваем маркер по левому краю */
  vertical-align: top; /* Выравниваем маркер по верху */
  /* margin-right: 12px; */
}

.legal-support__button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.legal-support__button-description {
  /* align-self: end; */
  font-style: italic;
  width: 550px;
  text-align: end;
  font-size: 19px;
  font-weight: 600;
  margin-left: 130px;
  letter-spacing: -0.01rem;
  line-height: 135%;
}

.button__legal-support {
  margin-left: 240px;
  height: 100px;
  width: 435px;
  letter-spacing: 0.01rem;
  word-spacing: 0.1rem;
  font-size: 27px;
}

@media (width >= 1729px) {
  .legal-support__content {
    width: 100%;
  }
}

@media (768px <= width <= 1728px) {
  /* Стили для MacBook Pro с разрешением 1728x1117 */
}

@media (1366px >= width) {
  .legal-support__content {
    align-items: center;
    justify-content: center;
    width: 70%;
  }
}
@media (width <= 430px) {
  .legal-support__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5em;
  }
  .legal-support {
    width: 95%;
  }
  .legal-support__title {
    font-size: 2em;
  }
  .legal-support__list {
    width: 100%;
  }
  .legal-support__list-item {
    font-size: 1.2em;
  }

  .legal-support__timer-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .button__legal-support {
    margin: 0;
    width: 100%;
    font-size: 1.1em;
    height: 4.5em;
    text-transform: uppercase;
  }
  .legal-support__button-description {
    margin: 0;
    font-size: 1em;
    width: 100%;
    font-weight: 500;
  }
  /* .legal-support__title {
    font-size: 28px;
  }
  .legal-support__list {
    width: 100%;
  }
  .legal-support__button-container {
    align-items: center;
  } */
}
